/* google font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-google-font{
  font-family: "Inter", sans-serif;
  font-weight:600; 
  font-style: normal;
}

/* mia font  */ 
.miama-fonts{
    font-family: 'Miama',sans-serif; 
    font-weight: 200;
    font-size: 6.25rem; 
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
  
body{
    background-color:rgb(0, 0, 0) ;  

}

/* navbar style start */
header{
    background: linear-gradient(180.00deg, rgb(26, 24, 24),rgba(119, 119, 119, 0.2) 100%);
}


.color-one{
    color:  #FFFFFF; 
  }

  .color-two{
     color: #efede8e2; 
  }

   
.btn-color{
    background-color: #E6533C;
  }
  
  .btn-style{
    padding: 7px 15px 7px 15px ; 
    border-radius: 50px;
    width: 240px;
    font-size: 20px;
    margin-top: 10px;
  }
  
  
.btn-primary{
    padding: 18px; 
    border-radius: 50px;
    width: 220px;
    font-size: 1.2rem;
    margin-top: 10px;
    color: #ffffff; 
    margin-right: 10px;
    border: none; 
}


.display-flex{
    display: flex;
 }

 .navbar{

  justify-content: space-between;
   padding: 50px 170px 30px 170px ;  
 }

 
 .nav-item{
    list-style: none;
    margin-right: 40px;
}
.nav-links{
  border: 1px solid rgba(245, 245, 245, 0.197);
  padding: 3px;  

}
 
.nav-link{
    text-decoration: none;
    font-size: 1.3rem; 

 }

 
 .hamburger{
    font-size: 20px;
   cursor: pointer;
   color: #FFFFFF; 
    display: none;
   
  }

   
.fitness-style{
    color: #E6533C; 
    font-size: 2.2rem; 
    font-weight: bolder;
  }

  /* navbar style end here  */

  /* banner style start here  */
  #banner{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 170px ; 
  
 }

 
 .banner-content{
    margin-top: 30px;
  }
  
 .banner-title{
  font-size: 6rem ; 
  color: #FFFFFF; 
  font-weight: 900;
}
  


.banner-des{
    margin-top: 10px;
    margin-bottom: 10px;
  
  }

  
.btn-bg{
    background-color: rgb(0, 0, 0);
    border: 1px solid white; 
  }
  
  .banner-image{
    position: relative;
  }
   
  
.banner-img{

    width: 75%;
   margin-left: 160px;
   
   
 }

 
.banner-badge-one{
    background-color: rgba(255, 255, 255, 0.397) ;
    width: 170px; 
    height: 100px ;
    border-radius: 15px;
    position:absolute; 
    top: 520px; 
    right: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  
  
.banner-badge-two{
    background-color: rgba(255, 255, 255, 0.397) ;
    width: 170px; 
    height: 100px ;
    border-radius: 15px;
    position:absolute; 
    top: 160px; 
    left: 440px; 
    display: flex;
    justify-content: center;
    align-items: center;
  
    
  }
  
 .bg{
    background-color: rgba(255, 255, 255, 0.323) ;
  
   }

   
.circle{
    background-color: #E6533C;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 15px;
    margin-right: 8px;
    margin-left: 5px;
    
}  
  

 /* main style start here  */

 main{

    margin-top: 50px;
}

 /* habit style start  */
 #habit{
       
    margin: 50px 170px ; 
    padding: 10px; 
       
 }

   
 .habit-title{
    font-size: 3rem ; 
    color: #FFFFFF; 
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}
 
.habit-des{
    color: #ffffff97 ; 
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px ;
  
  
  }

  .heading-four{
    font-size: 1.5rem ; 
    color: #FFFFFF; 
    font-weight: 400px ; 
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 5px;
    
  }
  .center{

    text-align: center;
}



.pera-styles{
    color: #ffffff97 ; 
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px ;
  
  
  }

 
.habit-image{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 80px;
    gap: 30px;
    
  }

  
.img-rounded{
    border-radius: 100%;
    border: 1px solid white; 
    margin-left: 50px;
  
  
  
  }

  /* habit style end  */

  
 /* run extra style start */
 .run-extra{

    margin: 50px 170px;  
    background-color: rgba(34, 34, 34, 0.474) ;
    display: flex;
    border-radius: 20px;
     

  }


  .run-extra-content{
    padding-top: 50px;
    padding-left: 30px;
}


.run-extra-content{
    padding-top: 50px;
    padding-left: 30px;
}

.run-extra-title{

    color: #fff ; 
    font-size: 3rem ; 
    margin-top: 10px;
    margin-bottom: 10px;
     background-color: rgba(34, 34, 34, 0) ; 

  
 }

 .run-extra-des{

   color: #ffffff97 ; 
   margin-top: 10px;
   margin-bottom: 20px;
   background-color: rgba(34, 34, 34, 0) ; 


 }

 
 .run-img{
    width: 70%;
    height: 70%;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 50px;
    
 }
/* run extra style end here  */

 /* bmi style start here  */
 .bmi{
    text-align: center;
   margin: 70px 0;
  }
  
  .bmi-title{
  color: white;
  }
  
  .bmi-des{
    font-size: 0.87rem;
  color: rgba(255, 255, 255, 0.5);
  }
  
  .bmi-hero{
    background: rgb(34, 34, 34);  
     width: 100%;
    margin: 0 auto;
  }
  
  .bmi-chat{
   width: 80%;
   margin: 0 auto;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 15rem ;
  }
  
  .cal-chart{
   color: white;
   margin-bottom: 70px;
  }
  
  .bmi-text{
    margin-bottom: 1.8rem;
    font-size:1.5rem; 
  }
  
  table{
    width:300px;
    height: 200px;
    border-collapse: collapse;  
  }
  
  td,th{
    border: 1px solid rgb(92, 91, 91);
    padding: 10px;
  }
  
  td{
    color: rgba(255, 255, 255, 0.5);
  }
  
  tr{
    text-align: left;
  }
  
  .bmi-title{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .bmi-desc{
    color: rgba(255, 255, 255, 0.5);
    font-size:0.9rem;
    line-height: 25px;
    margin-bottom: 20px;
  }
  
  input, select{
  width:250x;
  height: 35px;
  margin: 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  background-color:rgb(59, 58, 58);
  padding-left: 15px;
  }
  
  select{
    border-right: 15px solid transparent;
  }
  
  
  .input input::placeholder,select{
    color: rgba(255, 255, 255, 0.6);
  }
  
  .input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .activity-factor{
    grid-template-columns: 1fr;
    width: 192%;
  }
  


  .button-3 {
    padding: 12px 30px 12px 28px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    font-size: 0.96rem;
    color: white;
  }


  /* meet section start  */

  .meet-conatainer{
    width: 80%;
    margin: 0 auto;

 
}

.mentor{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1re 0;
  gap: 1rem;
  background: rgb(34, 34, 34);
 padding:   20px 20px;
  border-radius: 20px; 
  margin-top: 50px;
}

.meet-content{
  text-align: center;
  color: white;
  margin-top: 70px;
}

.meet-content h1{
  font-size: 40px;
}

.meet-content p{
  margin-top: 10px;
  color: #ffffff77 ; 

  
}


.team-img{
 position: relative;
 
}


.img-team{
 width: 100%;
 height: 320px;
 border-radius: 20px;
}

.mentor-title{
position: absolute;
top: 70%;
left: 10%;
color: #fff; 
}

.trainer{
color: rgb(153, 143, 143); 
font-size: 16px; 
}


/* footer start  */

 footer{

    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 50px;
 }

 .footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 170px ;
    justify-content: center; 
    text-align: center;
 }

    
.heading-fit{
  color: #E6533C; 
  font-size: 3.2rem; 
  font-weight: bolder;
  margin-bottom: 20px;
}

.footer-pera{
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;

          
}

.footer-title{
  color:#fff; 
  font-size: 1.5rem;
  margin-bottom: 30px;
}
 
.footer-des{
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;


}

 .footer-des-center{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
 }

   hr{
    background-color: rgba(255, 255, 255, 0.191);
    width: 80%;
    margin-left: 170px;

   }
  /* responsive style start here  */

   @media screen and (max-width: 576px){

/* navbar style start  */
    .navbar{
        padding: 50px 20px 50px 20px ; 
    }
       .nav-link{
          display: none;
       }
        .hamburger{
            display: block;
        }

    .nav-links{
        border: none;
     }

     /* navbar end here  */


     /* banner start here  */

     #banner{
        grid-template-columns: repeat(1,1fr);
        padding: 0;
      }
      
  
     .banner-content{
        padding: 20px;
     }
  
     
       .banner-title{
        font-size: 4rem;
        }
          .banner-img{

            width: 60%;
          }

          .banner-badge-one{
            left: 50px;
            top: 230px;
          }

          .banner-badge-two{
            top: 50px;
             left: 350px ;  
           }

           /* banner section end  */


           /* habit style start  */
  
 .habit-image{

    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;

 }


 .habit-content{
   text-align: center;
   margin-left: 30px;
 }

 .img-rounded{

    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
     
 }
 /* habit style end  */

 
      /* run extra style  */

      .run-extra{

        flex-direction: column;
        margin: 20px;
        background-color: rgba(34, 34, 34, 0.474) ; 

    }

    .run-extra div {

        margin: 40px;
        
         
     }

     .run-img{
        margin: 0;
        width: 90%;
     }

     /* run extra  style end  */

     /* bmi style start  */

     .bmi-chat{
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 2rem ; 
     }

     .bmi-des{
        width: 80%;
        margin: 0 auto;
     }
/* bmi style end  */

 /* meet style start  */

   .mentor{
          grid-template-columns: repeat(1,1fr);
   }


  .hide{
     display: none;
  }


   .footer-content{

      grid-template-columns: repeat(1, 1fr);

       text-align: left;
       padding: 0;
       margin-left: 20px;
      
      
      
   }

    .heading-fit{
       margin: 0;
    }

    .footer-title{
      margin-bottom: 50px;
      margin-top: 50px;
    }
     
   .footer-pera{
    margin-bottom: 30px;
     margin-right: 70px;
     margin-top: 40px;
   }


    hr{
       margin: 0;
       margin-left: 20px;
       width: 90%;
       margin-top: 40px;
       margin-bottom: 40px;
    }

     .footer-des{
       text-align: left;
       margin-left: 20px;
     }

    
   }